body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #467fa0;
  color: #eee;
}

h1 {
  text-align: center;
  color:black;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  flex: 1;
  min-width: 200px;
  border-radius: 10px;
 justify-content: center;
  
  
}
textarea{
   padding: 10px;
  font-size: 16px;
  flex: 1;
  min-width: 200px;
  border-radius: 14px;
   border: 2px solid black;
   height:30px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  background: #22b41d;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  background: red;
}

table {
  width: 100%;
  border-collapse: collapse;
  background:white;
  border-radius: 20px;
}

th, td {
  padding: 10px;
  border: 1px solid black;
  text-align: center;
  color:black;
}

.message {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .controls {
    flex-direction: column;
    align-items: stretch;
  }

  input, button {
    width: 100%;
  }
}
footer {
  margin-top: 30px;
  text-align: center;
  color: white;
  font-size: 18px;
}
